
# Created by https://www.toptal.com/developers/gitignore/api/eclipse,java
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse,java

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*/.classpath
*/.project

web2/src/main/webapp/bootstrap-4.6.1-dist
web_book/src/main/webapp/bootstrap-4.6.1-dist
Servers/
MANIFEST.MF
catalina.policy
catalina.properties
project/src/module-info.java
